<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/style_temp.css" />
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="grid-container">
  <!-- Header -->
  <%- include("./adminHeader") %>
  <!-- End Header -->

  <!-- Sidebar -->
  <%- include("./adminSidebar") %>
  <!-- End Sidebar -->

  <!-- Main -->
  <main class="main-container">
    <div class="row  align-items-center d-flex">
      <div class="col-auto h1">Subject Analysis</div>
      <div class="col-auto  " style="margin-left: 55%;"  >
        <button
          style="height: min-content"
          class="btn btn-primary"
          onclick="postRequest()"
        >
          GENERATE
        </button>
      </div>
    </div>
    <!-- <div class="main-title">
            <div class="h1 ps-5 pe-5 dboard">Assesment Analysis</div>
        </div>
        <div class="col-sm-4 pt-4 ">
            <button
                style="height: min-content"
                class="btn btn-primary"
                onclick="postRequest()"
            >
                GENERATE
            </button>
        </div> -->
    <div class="row d-flex justify-content-center align-items-stretch mt-3">
      <div class="col-sm-3">
        <label>Date From :</label>
        <div>
          <input
            style="width: 80%"
            type="date"
            name="dateselect"
            id="dateselectfrom"
            class="form-control mb-2"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <label>Date To :</label>
        <input
          style="width: 80%"
          type="date"
          name="dateselect"
          id="dateselectto"
          class="form-control"
        />
      </div>
      <div class="col-sm-3">
        <label>Type</label>
        <select
          style="width: 80%"
          class="form-control"
          name="typeselect"
          id="typeselect"
        >
          <option value="2">Final</option>
          <option value="1">Training</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Analysis Type</label>
        <select
          style="width: 80%"
          class="form-control"
          name="analysistype"
          id="analysistype"
        >
          <option value="2">Performance</option>
          <option value="1">Enrollment</option>
        </select>
      </div>
    </div>
    <div class="box-container mt-5 bg-white"  >
      <div class="bg-white"  id="chart"></div>
    </div>
  </main>
  <!-- End Main -->
</div>
<%- include('../partials/footer') -%>
<script>
  var chart = null;
  function renderChart(chartData) {
    if (chart != null) {
      chart.destroy();
    }
    var options = {
      title: {
        text: "Workers' Status",
        align: "center",
        style: {
          fontSize: "20px",
          fontWeight: "bold",
          color: "#263238",
        },
      },
      series: [
        {
          data: chartData.map((ele) => ele[1].worker),
          name: "Total enrolled Workers",
					group: 'per',
        },
        {
          data: chartData.map((ele) => ele[1].tests),
          name: "Tests Given By Workers",
					group: 'workers',
        },
        {
          data: chartData.map((ele) => ele[1].approved),
          name: "Approved Workers",
					group: 'certificates',
        },
        {
          data: chartData.map((ele) => ele[1].rejected),
          name: "Rejected Workers",
					group: 'certificates',
        },
      ],
      chart: {
        type: "bar",
        height: chartData.length * 250,
        width:"95%",
				stacked: true,
      },
      plotOptions: {
        bar: {
          horizontal: true,
          dataLabels: {
            position: "top",
          },
        },
      },
      dataLabels: {
        enabled: true,
        offsetX: -6,
        style: {
          fontSize: "12px",
          colors: ["#fff"],
        },
      },
      stroke: {
        show: true,
        width: 1,
        colors: ["#fff"],
      },
      legend:{
        show:true,
        position:"top"
      },
      tooltip: {
        shared: true,
        intersect: false,
      },
      xaxis: {
        categories: chartData.map((ele) => ele[1].subject),
      },
    };

    chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
  }
  function renderChart2(chartData) {
    if (chart != null) {
      chart.destroy();
    }
    var options = {
      title: {
        text: "Score Analysis",
        align: "center",
        style: {
          fontSize: "20px",
          fontWeight: "bold",
          color: "#263238",
        },
      },
      series: [
        {
          data: chartData.map(
            (ele) => ((ele[1].marksObtained / ele[1].totalMarks) * 100).toFixed(2)
          ),
          name: "PERFORMANCE",
        },
      ],
      chart: {
        type: "bar",
        height: chartData.length * 80,
      },
      plotOptions: {
        bar: {
          horizontal: true,
          dataLabels: {
            position: "top",
          },
        },
      },
      dataLabels: {
        enabled: true,
        offsetX: -6,
        style: {
          fontSize: "12px",
          colors: ["#fff"],
        },
        formatter: (val) => val + "%",
      },
      stroke: {
        show: true,
        width: 1,
        colors: ["#fff"],
      },
      tooltip: {
        shared: true,
        intersect: false,
        y: {
          formatter: (val) => val + "%",
        },
      },
      xaxis: {
        categories: chartData.map((ele) => ele[1].subject),
        max: 100,
        labels: {
          formatter: (val) => val + "%",
        },
      },
    };
    $("#chart").html("");
    chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
  }
  function postRequest() {
    let datefrom = $("#dateselectfrom").val();
    let dateto = $("#dateselectto").val();
    let type = $("#typeselect").val();
    let analysistype = $("#analysistype").val(); 
    if(analysistype == 1)
    {
      $.ajax({
        type: "POST",
        url: "/authority/subjectAnalysis",
        data: { type, datefrom, dateto, admin: 1 },
        success: function (response) {
          console.log(response.myArr);
          renderChart(response.myArr);
        },
      });
    }
    else {
      $.ajax({
        type: "post",
        url: "/authority/scoreAnalysis",
        data: { type, datefrom, dateto, admin: 1 },
        success: function (response) {
          renderChart2(response.myArr);
        },
      });
    }
  }
</script>
<%- include('../partials/footer2') -%>
